body {
    background-image: url(snow.gif);
    /* https://tenor.com/view/night-sky-snow-falling-gif-14240988
       Created by: Jenbanes */
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}
